.about_box {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.circle_links {
    padding-top: 10px;
    /* width: 100%;
    justify-content: center;
    flex-direction: row;    */
}

