
.body {
	margin: 0;
	min-height: 100vh;
	background: url(/../assets/dark.jpg);
	/* background-image: radial-gradient(#00000000, #00000000); */
	background-color: rgb(0, 0, 0);
	background-size: 100%; 
	background-repeat: repeat-y;

	width: 100%;
    backdrop-filter: blur(10px);
    min-height: 100vh;
	/* justify-content: center; */
}


.container {
   width: 100%;
}


.test_base {
	position: absolute;
	overflow: hidden;
	width: 100px;
	height: 100px;
	max-height: 100px;
	background-color: rgb(255, 255, 255);
}
.test {
	width: 50px;
	height: 120px;
	background-color: rgb(255, 0, 0);
}


.title {
	padding: 10px;
	font-size: 50px;
	text-shadow: 2px 1px 4px white;
}

.txt {
	padding: 5px;
	font-size: 22px;
	text-shadow: 0px 0px 1px white;
}