

.circle-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.link-image {
    padding: 5px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.link-image:hover {
    transform: scale(1.1);
}